.snakemake/
results/
logs/
*.log
*.out
*.err
workflow_dag.png
config/local*.yaml
config/*_samples.tsv
data/
*.bam
*.bai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.gtf
*.gtf.gz
*.locInd
__pycache__/
*.py[cod]
.DS_Store
.idea/
.vscode/
